@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');



html[data-theme='light'] .brand__logo {
   filter: invert(1);
 }
 
 html[data-theme='light'] .technologies__logo {
   filter: invert(80%);
 }
 
 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   vertical-align: baseline;
   list-style: none;
   scrollbar-width: thin;
   scrollbar-color: var(--secondary-bg-color) transparent;
 }

body {
   background: var(--primary-bg-color);
   font-family: "Inter", sans-serif;
   color: var(--text-color);
}

::-webkit-scrollbar {
   width: 0.5rem;
 }
 
 ::-webkit-scrollbar-track {
   background-color: transparent;
 }
 
 ::-webkit-scrollbar-thumb {
   background: var(--secondary-bg-color);
   border-radius: 50rem;
 }
 

a {
   text-decoration: none;
   color: var(--text-color);
}

a:hover {
   color: var(--primary-color);
}

i {
   color: var(--icon-color);
}

b {
   font-weight: 400;
}

h1 {
   font-size: 2.5rem;
   font-weight: 200;
}

h2 {
   font-size: 2rem;
   text-align: center;
   letter-spacing: 0.4rem;
}

h3 {
   font-size: 1.55rem;
   text-align: left;
}

h4 {
   color: var(--primary-color);
   font-weight: 400;
   font-size: 1.15rem;
   text-align: left;
}

h1,
h2,
h3 {
   font-family: 'League Spartan', Tahoma, Geneva, Verdana, sans-serif;
   text-transform: uppercase;
   color: var(--title-color);
   font-weight: 200;
}

p,
span,
li {
   font-size: 1rem;
}

p {
   text-align: justify;
}